:root {
	--rValue: 255;
	--gValue: 255;
	--bValue: 255;
}

div {
	display: block
}
.grid {
    display: grid;
		grid-template-columns: repeat(16,35px);
		grid-template-rows: repeat(16,35px);
    grid-gap: 1px;
}

.grid > * {
    
		background-color: rgb(var(--rValue),var(--gValue),var(--bValue));
}

.grayScale {
	background-color: rgb(0,0,0);
	opacity: 0;
}
